@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); 

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(254,242,0,1) 0%, rgba(240,230,16,1) 49%, rgba(255,209,0,1) 100%);
    font-family: 'Indie Flower', cursive;
}
h1 {
    font-size: 70px;
}



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 100px;
    font-size: 30px;
}

h6 {
    font-size: 36px;
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-top: 40px;
 
}

#popup {
    background-color: rgb(224, 204, 28);
    border-radius: 7%;
    font-size: 20px;
    margin-top: 20px;
}

#blackBtn {
    font-size: 20px;
    background-color: rgb(224, 204, 28);
    color: black;
    font-weight: 900;
    border-radius: 7%;
}

#randomBtn {
    font-size: 20px;
    background-color: rgb(224, 204, 28);
    color: black;
    font-weight: 900;
    border-radius: 7%;
}

#resetBtn {
    font-size: 20px;
    background-color: rgb(224, 204, 28);
    font-weight: 900;
    border-radius: 7%;
}   

#bkground {
    display: flex;
    z-index: -1;
    margin-top: -630px;
    
}
img {
    height: 750px;
}

.container {
    width: 700px;
    height: 700px;
    display: grid;
    z-index: 1;
    border: 10px rgb(224, 204, 28) solid;
    background-color: white;
}


footer {
    position: absolute;
    bottom: 0;
}