body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 30px;
    font-size: 26px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-top: 30px;
    background: none;
}

#popup {
    font-weight: 900;
    font-size: 17px;
}

#blackBtn {
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: 900;
}

#randomBtn {
    font-size: 20px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    color: white;
    font-weight: 900;
}

#resetBtn {
    font-size: 20px;
    background-color: yellow;
    font-weight: 900;

}   

#bkground {
    display: flex;
    z-index: -1;
    margin-top: -630px;
    
}
img {
    height: 750px;
}

.container {
    width: 640px;
    height: 460px;
    display: grid;
    z-index: 1;

}

footer {
    position: absolute;
    bottom: 0;
}