body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 30px;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-top: 30px;
}

.container {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
}
footer {
    position:absolute;
    bottom:0;
 
}